data/raw
data/processed
data/interim
data/excluded_participants
config/participant_mappings/
plots/
src/psilocybin_eeg.egg-info/
notebooks/preprocessing_jan.ipynb


logs/
*__pycache__*
*.ipynb_checkpoints*
.vscode/
.python-version